.login-page {
  background-image: url(../../../assets/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   filter: blur(4px);
  // }

}
