.primaryWS486001 {
    background: none !important;;
    background-color: white !important;
    color: black !important;
    border-color:white !important;
    border-right-color: rgb(177, 177, 177) !important;
    border-bottom-color: rgb(177, 177, 177) !important;
}
.primaryWS486001:hover {
    background-color: red !important;
    border-color:white !important;
    border-right-color: rgb(177, 177, 177) !important;
    border-bottom-color: rgb(177, 177, 177) !important;
    color: white !important;
}
.btn-primary {
    background-color: #1890ff !important;
    color: white !important;
}
.btn-primary:hover {
    background-color: #0770d3 !important;
    color: white !important;
}